<div class="container d-flex justify-content-center">
  <%= form_for([:creator, @asset]) do |f| %>
    <!-- Display error messages if any -->
    <% if @asset.errors.any? %>
      <div class="alert alert-danger">
        <h4>Errors</h4>
        <ul>
          <% @asset.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Title Input -->
    <div class="form-group mt-3">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <!-- Description Input -->
    <div class="form-group mt-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <!-- Price Input -->
    <div class="form-group mt-3">
      <%= f.label :price, class: "form-label" %>
      <%= f.number_field :price, class: "form-control" %>
    </div>

    <!-- File Upload Input -->
    <div class="form-group">
      <%= f.label :file_url, "Upload File", class: "form-label mt-3" %>
      <%= f.file_field :file_url, class: "form-control mt-3" %>
    </div>

    <!-- Submit Button -->
    <div class="form-group m-3 d-flex justify-content-center">
      <%= f.submit "Save Asset", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>