<div class="col-md-6 mb-4 animate__animated animate__fadeInLeft">
  <h4 class="fw-semibold text-orange border-bottom pb-3">Order Information</h4>

  <%= form_for(:orders, url: check_out_path(@purchase.id), html: { class: 'info' }, method: :put) do |f| %>
    <%= render 'devise/shared/error_messages', resource: @purchase %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <!-- Address Field -->
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text text-orange bg-transparent border-1 rounded-0">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <%= f.text_field :address, class: 'form-control rounded-0', placeholder: "Your address", value: current_user.name %>
      </div>
    </div>

    <!-- Name & Phone -->
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="input-group">
          <span class="input-group-text text-orange bg-transparent border-1 rounded-0">
            <i class="fas fa-user-circle"></i>
          </span>
          <%= f.text_field :customer_name, class: 'form-control rounded-0', placeholder: "Your name", value: current_user.name %>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="input-group">
          <span class="input-group-text text-orange bg-transparent border-1 rounded-0">
            <i class="fas fa-phone-alt"></i>
          </span>
          <%= f.text_field :phone, class: 'form-control rounded-0', placeholder: "Your phone number", value: current_user.name %>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text text-orange bg-transparent border-1 rounded-0">
          <i class="fas fa-notes-medical"></i>
        </span>
        <%= f.text_area :description, class: 'form-control rounded-0', placeholder: "Description" %>
      </div>
    </div>

    <%= f.submit "Check", class: 'btn btn-outline-orange w-100 rounded-0 mt-3 font-italic' %>
  <% end %>

  <!-- Payment Method -->
  <fieldset class="mt-4">
    <legend class="col-form-label pt-0 text-orange font-italic">Payment</legend>

    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="payment_method" id="cod" value="cod" checked>
      <label class="form-check-label text-secondary" for="cod">
        Cash on Delivery (COD)
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="payment_method" id="credit_card" value="credit_card">
      <label class="form-check-label text-secondary" for="credit_card">
        Pay by Credit Card
      </label>
    </div>
  </fieldset>
</div>
